@model CuaHangDienThoai.Models.SanPham

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten_SanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten_SanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mo_Ta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mo_Ta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DungLuongLuuTru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DungLuongLuuTru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KichThuocManHinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KichThuocManHinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaoHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaoHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoKheCamSim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoKheCamSim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.So_Luong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.So_Luong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anh_Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anh_Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhMuc.Ten_DanhMuc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_SanPham" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
